* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --second-primary-color: #212832;
    --third-primary-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/* Common */
a {
    text-decoration: none;
}

a,
input,
textarea,
select,
button,
article {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-align: center;
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    background: var(--second-primary-color);
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    background: var(--primary-color);
}

.section-heading {
    margin-top: 12px;
    color: var(--second-primary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-title {
    margin-left: 30px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-desc {
    color: var(--third-primary-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

/* Header */
.header {
    padding: 42px 0 6px;
    background: #fff;
}

.header.header__fixed {
    position: sticky;
    top: -16px;
    z-index: 10;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: 52px;
    display: flex;
}

.navbar__link {
    padding: 8px 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--third-primary-color);
    transition: 0.25s;
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active {
    position: relative;
    color: var(--second-primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar__link--active::after {
    position: absolute;
    content: "";
    display: block;
    left: 24px;
    bottom: 5px;
    width: 47px;
    height: 1px;
    border-radius: 1px;
    background: var(--primary-color);
}

.header__cta {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__log-in {
    display: inline-block;
    padding: 8px 28px;
    color: var(--second-primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    transition: 0.25s;
}

.header__log-in:hover {
    color: var(--primary-color);
}

.header__sign-up {
    --height: 52px;
    min-width: 113px;
}

/* Hero */
.hero {
    padding: 70px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero-left {
    width: 47%;
}

.hero__title,
.work__title,
.feature__title,
.client__title {
    position: relative;
    display: inline-flex;
}

.hero__title::before,
.work__title::before,
.feature__title::before,
.client__title::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateX(-50%);
    left: -21px;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__heading {
    margin-top: 12px;
    color: var(--second-primary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading-highlight {
    color: var(--primary-color);
}

.hero__desc {
    width: 540px;
    margin-top: 20px;
}

/* Hero form */
.hero-form {
    margin-top: 40px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    padding: 23px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: inherit;
}

.hero-form__btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.hero__note {
    margin-top: 20px;
    color: var(--third-primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero right */
.hero__media {
    position: relative;
    margin-left: 160px;
    width: 100%;
}

/* Hero phone */
.hero-phone {
    display: flex;
    justify-content: center;
    width: 296px;
    height: 562px;
    border-radius: 4rem;
    border: 12px solid var(--second-primary-color);
    background: #fff;
}

.hero-phone__inner {
    position: relative;
}

.hero-phone__camera {
    position: absolute;
    content: "";
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    border-radius: 0rem 0rem 1.8rem 1.8rem;
    background: #3c2f60;
}

.hero-card {
    position: relative;
    padding: 16px;
    margin-top: 40px;
    display: block;
    width: 250px;
    height: 150px;
    border-radius: 2rem;
    overflow: hidden;
    background: linear-gradient(76deg, #8578e4 11.52%, #7264d6 70.78%);
}

.hero-card__column,
.hero-card__bottom {
    position: relative;
    z-index: 1;
}

.hero-card__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-card__type {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.36;
}

.hero-card__money {
    margin-top: 2px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.36;
}

.hero-card__bottom {
    margin-top: 32px;
}

.hero-card__row {
    margin-top: 5px;
    display: flex;
}

.hero-card__desc {
    margin-right: 12px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.4;
}

.hero-card__name,
.hero-card__time {
    margin-right: 36px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.33;
}

.hero-card__decor,
.hero-card__decor-2 {
    position: absolute;
}

.hero-card__decor {
    top: 0;
    left: 1px;
}

.hero-card__decor-2 {
    bottom: 0;
    right: 0;
}

.hero-phone__row {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.hero-phone__desc {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}

.hero__list {
    margin-top: 28px;
}

.hero-item {
    margin-bottom: 28px;
}

.hero-item,
.feature-card {
    display: flex;
    align-items: center;
}

.hero-item__icon-wrap,
.feature-card__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.hero-item__info,
.feature-card__info {
    flex: 1;
    margin-left: 14px;
}

.hero-item__row,
.feature-card__row {
    display: flex;
    justify-content: space-between;
}

.hero-item__heading,
.hero-item__money {
    color: var(--second-primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-item__desc,
.hero-item__time {
    margin-top: 6px;
    color: var(--third-primary-color);
    font-size: 1rem;
    line-height: 1;
}

/* Hero decoration */
.hero-decor {
    position: absolute;
    display: flex;
    align-items: center;
}

.hero-decor-1 {
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero-decor-1__info {
    margin-left: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.hero-decor__desc {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-decor__value {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

.hero-decor-2 {
    right: 85px;
    bottom: 65px;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero-decor__item {
    display: flex;
}

.hero-decor__item-info {
    margin-left: 11px;
}

.hero-decor__item-value {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-decor__item-desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

.hero-decor-3 {
    top: 127px;
    right: -4px;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero-decor-3__value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.36;
}

.hero-decor-3__desc {
    margin-top: -12px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.38;
}

/* Work */
.work {
    padding-top: 90px;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Work media */
.work-media {
    position: relative;
    display: flex;
    justify-content: center;
    width: 470px;
}

.work-media::after {
    position: absolute;
    content: url(../img/work-bg.svg);
    inset: auto auto 0 0;
    z-index: -1;
}

.work-media::before {
    position: absolute;
    display: block;
    content: url(../img/work-decor.svg);
    top: 76px;
    right: 62px;
}

.work__img {
    display: block;
    width: 456px;
    height: 619px;
    object-fit: cover;
}

.work-decor {
    position: absolute;
    bottom: 96px;
    right: -100px;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-decor__heading {
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work-decor__content {
    margin-left: 10px;
}

.work-decor__desc {
    margin-top: 5px;
    color: #696d76;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}

/* Work content */
.work-content {
    width: 40.2%;
}

.work__list {
    margin-top: 70px;
}

.work-item__heading {
    color: var(--second-primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work__item + .work__item {
    margin-top: 30px;
}

.work-time__desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Feature */
.feature {
    padding-top: 160px;
}

.feature__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.feature__row + .feature__row {
    margin-top: 160px;
}

.feature-content {
    max-width: 470px;
}

.feature__desc {
    margin-top: 20px;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    position: relative;
    padding-left: 24px;
    color: var(--second-primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__item::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #7264d6;
}

.feature__btn {
    margin-top: 38px;
}

.feature-media {
    position: relative;
    width: 570px;
}

.feature__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 470px;
}

.feature__img-wrap::before,
.feature__img-wrap::after {
    position: absolute;
    content: "";
    border-radius: 8px;
    background: #92c2c2;
    z-index: -1;
}

.feature__img-wrap::before {
    width: 100%;
    height: 300px;
}

.feature__img-wrap::after {
    top: 218px;
    left: -5px;
    width: 480px;
    height: 150px;
    rotate: -10deg;
    transform: skew(-10deg, -2deg);
}

.feature__img-card,
.feature__img {
    display: block;
}

.feature-card,
.feature-card-2 {
    position: absolute;
}

.feature-card {
    top: -48px;
    right: 0;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature-card__row + .feature-card__row {
    margin-top: 4px;
}

.feature-card__heading {
    color: var(--second-primary-color);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.feature-card__heading--bold {
    font-size: 1.6rem;
    font-weight: 500;
}

.feature-card__desc {
    color: var(--third-primary-color);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.feature-card-2 {
    right: 0;
    bottom: -55px;
    padding: 14px 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.feature-card-2__desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
}

.feature-card-2__value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Feature bank */
.feature-bank {
    position: absolute;
    right: 26px;
    bottom: 57px;
    width: 281px;
    height: 220px;
    padding: 28px;
    background: #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-bank__heading {
    color: var(--second-primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature-bank__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.feature-bank__img {
    display: block;
}

.feature-bank-decor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -35px;
    right: -26px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: var(--primary-color);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

/* Client */
.client {
    padding-top: 160px;
}

/* Client top */
.client-top {
    text-align: center;
}

.client__desc {
    margin: 18px auto 0;
    width: 435px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.client__list {
    margin-top: 70px;
    display: flex;
    overflow: hidden;
    gap: 30px;
}

/* Client item */
.client-item {
    width: 50%;
}

.client-item__comment {
    position: relative;
    width: 570px;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    border-radius: 10px;
}

.client-item__comment:hover {
    box-shadow: 0px 22px 54px 0px rgba(0, 0, 0, 0.07);
}

.client-item__comment::after {
    position: absolute;
    content: "";
    bottom: -37px;
    left: 50%;
    width: 72px;
    height: 72px;
    transform: translateX(-50%) rotate(45deg);
    border-width: 1px;
    border-style: solid;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
    border-bottom-right-radius: 5px;
    background: #fff;
}

.client-item__desc {
    color: var(--third-primary-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
}

.client-item__avatar {
    margin-top: 96px;
    text-align: center;
}

.client-item__img {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #1a0616;
    overflow: hidden;
}

.client-item:nth-child(odd) .client-item__img {
    background: #4ab5e3;
}

.client-item:nth-child(even) .client-item__img {
    background: #439f90;
}

.client-item__thumb {
    display: block;
    width: 100%;
}

.client-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client-item__work {
    margin-top: 2px;
}

/* Client dots */
.client__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.client__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.client__dot:hover {
    cursor: pointer;
}

.client__dot--active {
    cursor: none;
    background: var(--primary-color);
}
